<script src="/js/vinJs.js"></script>
<div class="container">
  <div class="row">
    <div class="col-8">
      <form class="create-form">

        <div class="form-group">
          <label for="articleName">Title Of Article</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="articleName" placeholder="Post Article Title Here">
          </div>
        </div>

        <div class="form-group">
          <label for="artBody">Post A Article</label>
          <textarea class="form-control" id="artBody" rows="5"></textarea>
        </div>
        <button type="submit" aria-label="this is a test button">Submit</button>
      </form>
    </div>


  </div>
</div>