
<script src="./js/antJs.js"></script>
<div class="container">
<H1>Login</H1>
<p>Email:</p><input type="text" id="email" name="email">
<p>Password:</p><input type="password" id="password" name="password"  onkeyup="antJs.loginOnKeyUp(event)">
<button type="submit" id="submit" name="submit" onclick="antJs.loginOnClick(event)">GO</button>
<br>
<a href="/register">Register</a>
</div>